body {
    font-family: Arial, sans-serif;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}


nav {
    background-color: #224118;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
}

.navbar-left {
    font-size: 1.5rem;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    position: relative;
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}
nav ul li a:hover {
    background-color: #575757;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
}
nav ul ul li {
    display: block;
}
nav ul ul ul {
    right: 100%;
    top: 0;
}

.hamburger {
    display: none;
    cursor: pointer;
    padding: 0.5rem;
    color: white;
    background-color: #224118;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1001;
}


@media (max-width: 620px) {
    .hamburger {
        display: block;
    }

    nav {
        display: none;
    }

    #menu {
        position: fixed;
        right: -100%;
        top: 0;
        height: 100%;
        width: 250px;
        background-color: #224118;
        overflow-y: auto;
        transition: right 0.3s ease;
        z-index: 1000;
        display: block;
    }

    #menu.active {
        right: 0;
    }

    .navbar-right ul {
        display: block;
        width: 100%;
    }

    .navbar-right ul li {
        display: block;
        width: 100%;
    }

    .navbar-right ul li a {
        display: block;
        padding: 15px;
        color: white;
    }

    /* Submenu */
    .submenu {
        display: none;
        padding-left: 15px;
        background-color: #333;
        width: 100%;
        position: static;
    }

    .submenu li {
        display: block;
    }

    .submenu li a {
        padding-left: 30px;
    }

    .submenu .submenu {
        padding-left: 15px;
        background-color: #444;
        position: static;
        width: 100%;
    }

    .submenu .submenu .submenu {
        padding-left: 45px;
        background-color: #555;
        position: static;
        width: 100%;
    }

    .submenu .submenu .submenu li a {
        padding-left: 60px;
    }

    .content {
        padding-top: 60px;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 999;
    }

    .overlay.active {
        display: block;
    }
}